$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0;
}
body.light {
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --secondary-text: #fff;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #66578d;
  --secondary-text: #fff;
  --background: #0a041a;
  --text-color: rgba(255, 255, 255, 0.88);
  --text-secondary-color: rgba(255, 255, 255, 0.66);
  --site-header: var(--background);
  --card-bg: #181326;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  border-top: 0.5rem solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
}
h1 {
  font-size: 3.5rem;
  @media (max-width: 768px) {
    font-size: 2.25rem;
  }
}
h2 {
  font-size: 2.5rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
  margin: 1.5rem;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  padding: 0.25rem;
  max-width: 70rem;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 0.5rem 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
table {
  margin: 1rem auto;
  border-spacing: 0;
  thead {
    tr {
      th {
        padding: 0.5rem;
      }
    }
  }
  tbody {
    tr {
      td {
        border-top: solid var(--primary-color) 1px;
        text-align: center;
        padding: 0.125rem 0;
      }
    }
    :first-child {
      td {
        border-top: solid var(--text-color) 2px;
      }
    }
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  background: var(--site-header);
  margin-bottom: 2rem;
  align-items: center;
}
.site-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
.button {
  padding: 1.25rem 1.75rem;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1.25rem 0 0;
  transition: background-color 0.3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background: var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 760.5rem;
    margin: 0 auto;
    padding: 0.25rem;
    > h2 {
      margin: 1rem;
    }
    > ul {
      margin: 0rem;
      padding: 0.25rem 1rem;
      > li {
        margin: 0.75rem 0.25rem;
        margin-top: 0;
        > p {
          margin: 0.25rem 0;
        }
      }
    }
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.post-thumbnail {
  text-align: center;
  min-height: clamp(8rem, 52vw, 27rem);
  max-width: 48rem;
  // background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.25rem;
  margin: 0 auto;
  margin-bottom: 2.25rem;
  color: var(--featured-text);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding: 1.25rem;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}
.site-footer {
  text-align: center;
  margin: 5rem 0 1rem;
  color: #666;
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: var(--contact-bg);
  padding: 2rem;
  border: 1px solid var(--contact-bdr);
  border-radius: 0.5rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type="text"],
  input[type="email"],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 0.375rem;
    line-height: 2rem;
    padding: 0.375rem 0.75rem;
    width: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 9.5rem;
  }
}
.two-grids {
  display: grid;
  grid-gap: 2rem;
  &.-contact {
    .post-thumbnail {
      min-height: 15rem !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen and (min-width: 760.5rem) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 108px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.25rem;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 1.5rem;
  height: 1.5rem;
  background: linear-gradient(to bottom, currentColor 0.25rem, transparent 0)
      no-repeat 0.25rem -0.375rem/0.125rem 0.375rem,
    linear-gradient(to bottom, currentColor 0.25rem, transparent 0) no-repeat
      0.25rem 0.875rem/0.125rem 0.375rem,
    linear-gradient(to bottom, currentColor 0.25rem, transparent 0) no-repeat -0.5rem
      0.25rem/0.375rem 0.125rem,
    linear-gradient(to bottom, currentColor 0.25rem, transparent 0) no-repeat
      0.875rem 0.25rem/0.375rem 0.125rem;
  border-radius: 6.25rem;
  box-shadow: inset 0 0 0 0.125rem;
  border: 0.375rem solid transparent;
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 0.125rem;
  border-right: 0.25rem solid;
  border-left: 0.25rem solid;
  left: -0.375rem;
  top: 0.25rem;
}
.gg-sun::before {
  transform: rotate(-45deg);
}
.gg-sun::after {
  transform: rotate(45deg);
}
.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid;
  border-bottom-color: transparent;
}
.gg-moon::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 1.25rem;
  border: 0.125rem solid transparent;
  box-shadow: 0 0 0 0.125rem;
  top: 0.5rem;
  left: 0.125rem;
}
