.faqContainer {
  --transition-time: 250ms;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: solid var(--primary-color) 1px;
  background-color: var(--secondary-color);
  color: var(--secondary-text);
  .faqs {
    background-color: #000000aa;
    padding: 0.5rem;
    border-radius: 1rem;
    .qa {
      padding: 1rem 2rem;
      line-height: 1.5;
      .questionContainer {
        display: flex;
        align-items: center;
        .question {
          margin: 0;
          font-size: 1.5rem;
        }
        .expandIcon {
          display: block;
          height: 1rem;
          width: 1rem;
          position: relative;
          .lineContainer {
            display: block;
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            .line1,
            .line2 {
              display: block;
              height: 0.125rem;
              width: 1rem;
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              transform: translate(-0.25rem, -0.0625rem);
              background-color: var(--secondary-text);
            }
            .line2 {
              transform-origin: center;
              transform: rotate(90deg);
            }
          }
        }
      }
      .answerContainer {
        max-height: 50rem;
      }
      .hidden {
        max-height: 0;
        .answer {
          visibility: hidden;
        }
      }
    }
  }
}
